.parentCla{
    font-family: 'Open Sans';
}
.NavBar{
    background-color: #e1e4b8;
    width: 100%;
    height:80px;
}
p{
    color: #beba83;
    font-size: 1.5em;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}